/**Google font
font-family: 'Poppins', sans-serif;
**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
h1,h2,h3,h4{
font-family: 'Poppins', sans-serif;

}

/** Start Navbar**/
.nav_tdfm_email{
    background-color:#f18726;
    color: black;
    padding: 6px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-left: 2px;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
font-family: 'Poppins', sans-serif;
}
.bg-dark {
    background: black!important;
   
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color:#f18726;
}
.navbar-light .navbar-toggler {
    color: white;
    
}

/**slider**/
.w-100 {
    width: 100%!important;
    height: 670px;
    filter: brightness(50%);
}

.navbar-light .navbar-brand {
    color: white;
}
.carousel-caption {
    position: absolute;
    right: 45%;
    bottom: 12.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.carousel-caption h1{
    font-size: 65px;
    font-weight: 500;
}

/*info*/
.text{
    font-family: 'Poppins', sans-serif;
}
.text-para{
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
    color: #666;
    font-family: 'Poppins', sans-serif;

}

.bg-shadow{
    box-shadow: 10px 10px;
}
/* CSS */
.button-52 {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #f18726;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
/**end home info**/


/**services info*/
.Services-heading{
    padding: 10px;
    color: white;
   text-align: center;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    

}
.card-img, .card-img-bottom, .card-img-top {
    width: 15%;
    align-items: center;margin: auto;
    color: #f18726;
    
}
.card_bg{
    margin: 10px;
  
    border: none;
}
.card-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.card-text{
    font-size: 12px;
   
    color: #666;
    font-family: 'Poppins', sans-serif;

}
.card-img, .card-img-bottom, .card-img-top:hover{
   background-color: #f18726;
   padding: 10px;
}


.heading_mark{
    background: linear-gradient(45deg, #f18726 0%, #f7dabe 100%);
}



/*******************************/
/******* 2) About page*********/
.main{
    background-image: url('../img/header-img.jpg');
    height: 500px;
   
}
.about_main{
   padding-left: 100px;
    padding-top:250px ;
    color: white;
    font-size: 50px;
}
.about_card{
    background-color: #f18726;
    color: #fff;
    border-radius: 0;
    margin: 10px 10px;
    border: 0;
}
